{% extends "emf/base.html" %}
{% load static %}
{% block title %}Facts for Jonty{% endblock %}

{% block heading %}
  <a class="logo" href="/"><img src="/static/emf/img/logo.svg"></a>
  <h1>JontyFacts&trade;</h1>
{% endblock %}

{% block content %}
<div class="alert-block warning"><strong>Note:</strong> Volunteers and card payments includes the cybar and secret bar.</div>
<ul>
  <li>Pints sold: {{pints_sold}} out of {{total_pints}} available</li>
  <li>Sold by {{volunteers}} volunteers</li>
  <li>{{card_payments}} card payments accepted</li>
  <li>{{cash_payments}} cash payments</li>
  <li>3200 bottles of Club Mate sold out of 3200; 2020 bottles were preorders, and we're not going to make the mistake of thinking preorders will reduce demand over the bar next time!</li>
</ul>

{% endblock %}
