{% extends "emf/base.html" %}
{% load static %}
{% block title %}EMF Bar Prices{% endblock %}

{% block jquery %}
<script src="{% static "emf/js/tillwebclient.js" %}"></script>
{% endblock %}

{% block heading %}
<a class="logo" href="/"><img src="/static/emf/img/logo.svg"></a>
<h1>Price List</h1>
{% endblock %}

{% block content %}
{{ content }}

<div class="alert-block warning">
  <strong>Note:</strong> Not all draught beers and ciders are on sale
  at the same time. The places you can buy each type at the moment are
  shown below. <a href="{% url "frontpage" %}">The front page</a> also
  shows the current selection.
</div>

<template id="stock_lastfew">
  <div class="stock">
    <span class="orb lastfew" title="Last few"></span>
    <span class="text">Last few</span>
  </div>
</template>

<template id="stock_low">
  <div class="stock">
    <span class="orb low" title="Low"></span>
    <span class="text">Low</span>
  </div>
</template>

<template id="stock_plenty">
  <div class="stock">
    <span class="orb plenty" title="Plenty"></span>
    <span class="text">Plenty</span>
  </div>
</template>

<div class="products">
  <div class="product head">
    <div class="name">Name</div>
    <div class="abv">ABV</div>
    <div class="price">Price</div>
    <div class="locations">Locations</div>
    <div class="stock">Total Stock</div>
  </div>

  {% for p in products %}
  {% ifchanged p.department.description %}
  <h2>{{p.department.description}}</h2>
  {% endifchanged %}
  <a href="{% url "product" p.id %}" class="product item" data-stocktypekey="stocktype/{{p.id}}">
    <div class="name">{{ p.manufacturer }} {{ p.name }}</div>
    <div class="abv">{% if p.abv != None %}{{ p.abv }}%{% endif %}</div>
    <div class="price">£{{ p.saleprice }}/{{ p.unit.item_name }}</div>
    <div class="locations"></div>
    <div class="stock"></div>
  </a>
  {% endfor %}
</div>

<div id="connectionStatus" class="connection-status">Connection Lost</div>

<script type="text/javascript">
  function abv_to_string(abv) {
      if (abv === null) {
	  return '';
      }
      return `${abv}%`;
  }

  function get_template(name) {
      return document.getElementById(name).content.children[0];
  }

  document.addEventListener('DOMContentLoaded', function () {
      const connectionStatus = document.getElementById("connectionStatus");
      const client = TillWebClient("{{websocket_address}}", false);
      client.onConnect(function () {
          connectionStatus.classList.remove("disconnected");
          connectionStatus.classList.add("connected");
      });
      client.onDisconnect(function () {
          connectionStatus.classList.remove("connected");
          connectionStatus.classList.add("disconnected");
      });

      const stocktypes = document.querySelectorAll("[data-stocktypekey]");
      const lastfew = get_template("stock_lastfew");
      const low = get_template("stock_low");
      const plenty = get_template("stock_plenty");

      stocktypes.forEach(function (product) {
          const key = product.dataset.stocktypekey;
          client.onKey(key, function (message) {
              const elems = product.children;
              const stock = elems[4];
              updateText(elems[0], `${message.manufacturer} ${message.name}`);
              updateText(elems[1], abv_to_string(message.abv));
              updateText(elems[2], `£${message.price}/${message.sale_unit_name}`);
              const locations = elems[3].cloneNode();
              if (message.stocklines.length) {
                for (const stockline of message.stocklines) {
                    const span = document.createElement('span');
                    span.classList.add('location');
                    span.classList.add(stockline.location_display.slug);
                    span.innerText = stockline.location_display.name;
                    locations.appendChild(span);
                }
              } else {
                const span = document.createElement('span');
                span.classList.add('location');
                span.innerText = 'Not currently on sale';
                locations.appendChild(span);
              }
              updateNode(elems[3], locations);

              const remain_pct = (
                  message.base_units_remaining / message.base_units_bought
                      * 100);

              if (remain_pct < 5.0) {
                  updateNode(stock, lastfew);
              } else if (remain_pct < 15.0) {
                  updateNode(stock, low);
              } else {
                  updateNode(stock, plenty);
              }
          });
      });
  });
</script>
{% endblock %}
